/*
    BINS
*/

.main-window.bins {
    margin: 60px 65px;
    border-radius: 3px;
}

.bins-header {
    position: relative;
    font-weight: 600;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 16px;
    padding: 0 10px;
    background: #FFF;
    color: #4a525f;
}

.bins-header .bins-logo {
    width: 148px;
    height: 26px;
    background: url('../assets/images/logo_dark_dashboard.png') center no-repeat;
    margin: 0 30px;
}

.bins-header ul {
    display: inline-block;
    padding-right: 70px;
    font-size: 0;
    margin-left: 30px;
}

.bins-header .bins-logo,
.bins-header .logout {
    display: inline-block;
}

.bins-header ul > li{
    display: inline-block;
    font-size: 16px;
    position: relative;
    line-height: 65px;
}

.bins-header ul > .bins-count:after,
.bins-header ul > li a:after {
    content: '|';
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
}

.bins-header ul > li a {
    display: inline-block;
    padding: 0 35px;
}

.bins-header a {
    text-decoration: none;
}

.bins-header ul > li a:hover {
    color: #FFF;
    background: #439ba5;
}

.bins-header .bins-count span {
    line-height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    background: #FCC868;
    border-radius: 50%;
    color: #FFF;
    margin-right: 35px;
}

.bins-header .show-path {
    position: absolute;
    top: 72px;
    left: -165px;
    z-index: 1;
}

.bins-header .file-input{
    display: inline-block;
    position: relative;
    width: 190px;
    line-height: 30px;
    cursor: pointer;
}

.bins-header input[type='file'] {
    position: relative;
    text-align: right;
    opacity: 0.01;
    z-index: 5;
    height: 30px;
    width: 190px;
    cursor: pointer;
}

.bins-header .fake-input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    z-index: 0;
    background: #FFF;
    height: 28px;
    border: 1px solid #4a525f;
}

.bins-header .path-btn {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
}

.bins-header .logout {
    position: absolute;
    top: 25px;
    right: 20px;
}

.bins-bg {
    height: 164px;
    width: 100%;
    background: url('../assets/images/illu_dashboard.png') center bottom no-repeat;
    background-size: cover;
}

.bins-dashboard {
    background: #FFF;
    margin-bottom: 30px;
    display: table;
    width: 100%;
}

.bins-dashboard > div {
    display: table-cell;
    padding: 20px 0;
    vertical-align: middle;
}

.bins-dashboard > :first-child {
    padding-left: 30px;
}

.bins-dashboard > :last-child {
    padding-right: 30px;
}

.bins-dashboard-head > p {
    margin-bottom: 0;
    line-height: 29px;
}

.bins-dashboard-head .bdh-title {
    color: #4a525f;
    font-size: 20px;
    font-weight: 600;
}

.bins-dashboard-head .bdh-content {
    color: #f6c86f;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.bins-dashboard-scan {
    text-align: right;
    color: #848992;
}

.bins-dashboard-scan > p {
    display: inline-block;
}

.bins-dashboard-scan > p > span {
    font-weight: 700;
}

.bins-dashboard-scan .scan-btn {
    line-height: 35px;
    padding: 0 20px;
    font-weight: 700;
    margin-left: 20px;
}

.bins-ul > li {
    display: inline-block;
    width: 300px;
    margin: 10px 5%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 7px #DDD;
}

.bins-ul li .bin-head,
.bins-ul li .bin-img-container {
    box-shadow: 1px 0 3px #CCC;
}

.bin-head {
    background: #FFF;
    line-height: 55px;
}

.bin-head > div {
    display: inline-block;
}

.bin-head .bin-name {
    color: #4a525f;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
}

.bin-head .bin-last-launch {
    float: right;
    margin-right: 15px;
    color: #AAA;
    font-size: 14px;
}

.bin-img-container {
    height: 125px;
    width: 100%;
    overflow: hidden;
}

.bin-img{
    margin: -1px;
    padding: 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: #54bfab; /* Old browsers */
    height: 125px;
    width: 100%;
}

.bin-infos {
    background: #4C5662;
    color: #FFF;
}

.bin-infos > div {
    display: inline-block;
    position: relative;
    margin: 15px 0 15px 25px;
    padding-left: 10px;
}

.bin-infos > div:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border: 3px solid;
    border-radius: 50%;
    top: 4px;
    left: -10px;
}

.bin-infos .bin-uptime:before {
    border-color: #81a567;
}

.bin-infos .bin-total-uptime:before {
    border-color: #439ba5;
}

.bin-infos .bin-num-launchs:before {
    border-color: #FCC868;
}

.bin-infos .bin-num-launchs {
    float: right;
    margin-right: 15px;
}

.bin-infos > div > p {
    font-size: 12px;
    margin-bottom: 0;
}

.bin-infos > div > p:first-child {
    display: inline-block;
    font-weight: 600;
}


.bins-ul > .iddle .bin-img {
    -webkit-filter: blur(2px);
}

.bins-ul > .started .bin-img {
    -webkit-filter: blur(0);
}

.bins-ul .bin-container {
    position: absolute;
    top: 60%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    border-radius: 0 0 5px 5px;
}