@media (max-width: 795px) {
    .background {
        background: #73BDC6;
    }

    .main-window {
        width: 100%;
        margin: 60px auto !important;
    }

    .bins-header {
        padding: 0;
        background: #73BDC6;
    }

    .bins-header .bins-logo {
        background: url('../assets/images/logo_small.png') center no-repeat;
        width: 43px;
        height: 36px;
    }

    .bins-header .logout {
        top: 14px;
    }

    .bins-header .logout:hover a,
    .bins-header .logout:active  a {
        color: #FFF;
    }

    .bins-header ul {
        padding: 0;
        display: block;
        text-align: center;
        margin: 15px 0 0;
        background: #FFF;
    }

    .bins-header ul > li {
        margin: 0;
        line-height: 50px;
        font-size: 18px;
        width: 32%;
        border: none;
    }

    .bins-header ul > li a {
        padding: 0;
        width: 100%;
        border-left: 1px solid #4a525f;
    }

    .bins-header ul > .bins-count:after,
    .bins-header ul > li a:after {
        content: none;
    }

    .bins-ul > li {
        margin: 10px auto;
    }

}

@media (max-width: 680px) {

    .bins-dashboard > div {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .bins-dashboard > :first-child,
    .bins-dashboard > :last-child {
        padding-left: 0;
        padding-right: 0;
    }

    .bins-dashboard .bins-dashboard-head > p {
        display: inline-block;
    }

    .bins-dashboard .bins-dashboard-head .bdh-content:before {
        content: ' / ';
    }
}