<div>
	<p class="info">You currently have <strong>{{count}}</strong> bins.
	<br>Maybe it's time for a little <a href="javascript:void(0);" title="scan" ng-click='toggleScan()'>scan</a> ?
	<br>Crawler will start from {{path}}.</p>

	<ul class="bins-ul">
		<li ng-repeat="bin in bins.bins" id="elem-{{bin.id}}" class="iddle trans-all" style="background-image:url('{{bin.img}}');">
			<div class="bin-container">
				<div class="bin-panel">
					<h4>{{bin.name}}</h4>
				</div>
			</div>
		</li>
	</ul>
</div>