<div>

    <div class="main-window bins">

        <header id="header" class="bins-header section">
            <div class="bins-logo"></div>
            <ul>
                <li class="bins-count">Bins <span>{{count}}</span></li>
                <li class="bins-scan"><a href="" ng-click="toggleScan()" title="Scan your disk">Scan</a></li>
                <li class="show-path-ctn"><a href="" title="Your path" ng-click="showPath = !showPath">Path</a>
                    <div ng-show='showPath' class="show-path tooltip">
                        <form id="walk-dir-form">
                            <p>Change your crawler path:</p>
                            <div class="file-input">
                                <input type="file" id="path" ng-model="path" webkitdirectory directory />
                                <div class="fake-input">
                                    <input type="text" value="{{currentUser.path}}" readonly>
                                </div>
                            </div>
                            <button class="btn path-btn" ng-click="savePath()">Save</button>
                        </form>
                    </div>
                </li>
            </ul>
            <div class="logout">
                <a href="#/login" title="Log out" ng-click="logout()">Log out</a>
            </div>
        </header><!-- /header -->

        <div class="bins-bg"></div>

        <section class="bins-section">
            <div class="bins-dashboard">
                <div>
                    <p>Your Bins</p>
                    <p>You currently have {{count}} bins.</p>
                </div>
                <div>
                    <p>Crawler will start from {{currentUser.path}}.</p>
                    <button class="btn scan-btn" ng-click="toggleScan()">Start scan</button>
                </div>
            </div>
            <div class="bins-list">
                <ul class="bins-ul">
                    <li ng-repeat="bin in bins" id="elem-{{bin.id}}" class="iddle trans-all">
                        <header class="bin-head">
                            <div class="bin-name">{{bin.name}}</div>
                            <div class="bin-last-launch">/{{bin.last || "24.07.2014"}}</div>
                        </header>
                        <div class="bin-img-container">
                            <img src="{{bin.img || '../assets/images/no_image_app_.png'}}" class="bin-img">
                        </div>
                        <div class="bin-infos">
                            <div class="bin-uptime">
                                <p>UPTIME</p>
                                <p>{{bin.uptime || 20}}min</p>
                            </div>
                            <div class="bin-total-uptime">
                                <p>TOTAL</p>
                                <p>{{bin.totalTime || '2h25'}}min</p>
                            </div>
                            <div class="bin-num-launchs">
                                <p>LAUNCHED</p>
                                <p>{{bin.launched || 12}} times</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </div>
</div>