<div>
    <form class="vertical-forms" ng-submit="submit()">
        <h2>Welcome, <span ng-bind="screenAction"></span></h2>

        <input type="text" ng-show="signup" ng-model="credentials.company" placeholder="Company name">
        <input type='mail' ng-model="credentials.mail" placeholder="email" autofocus/>
        <input type='password' ng-model="credentials.pass" placeholder="password"/>

        <!-- <input type='submit' value='Sign in' /> -->
        <button type="submit"><span ng-bind="screenAction"></span></button>

        <p class="info" ng-hide="signup">Or <a href="" ng-click="changeSignMode()">create an accout</a>.</p>
    </form>
</div>