<!DOCTYPE html>
<html ng-app="binremote">
<head>
	<meta charset='utf-8'>
	<title>Bin Remote Client</title>
	<link rel="stylesheet" type="text/css" href="../css/default.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body ng-controller="mainCtrl">
	<div class="background">
	</div>

	<nav class="head-nav">
		<button ng-click="nwClose()" id="nwClose"></button>
		<button ng-click="nwMax()" id="nwMax"></button>
		<button ng-click="nwMin()" id="nwMin"></button>
	</nav>

	<div class="error" ng-bind='messages.log'></div>

	<div id="view-container">
		<div ng-view></div>
	</div>

	<!-- ANGULAR -->
	<script src='../js/lib/angular/angular.js'></script>
	<script src='../js/lib/angular/angular-route.js'></script>
	<!-- METEOR RELATED LIBS -->
	<script src="../js/lib/ddp.js"></script>
	<script src="../js/lib/q.js"></script>
	<script src="../js/lib/asteroid.js"></script>

	<!-- APP SCRIPTS -->
	<script src='../js/nw.js'></script>
	<script src='../js/settings.js'></script>
	<script src="../js/realtime.js"></script>
	<script src="../js/routes.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/signup.js"></script>
	<script src="../js/bins.js"></script>
</body>
</html>